

<article class="table">
  <h2 class="table__body-data">{{selectedBook.bookName}}</h2>

    <table cellspacing="0" cellpadding="0" class="table__wrapper">
      <thead class="table__head">
        <tr class="table__head-row">
          <td class="table__head-icons" colspan="10">
           
          </td>
        </tr>
  
        <tr class="table__head-row">
          <td class="table__head-data">Name</td>
          <td class="table__head-data">Contact</td>
          <td class="table__head-data">Borrowed</td>
          <td class="table__head-data">Returned</td>
          <td class="table__head-data">Return Status</td>
          
        </tr>
      </thead>
      <tbody class="table__body">
        <tr class="table__body-row" >
          <td class="table__body-data">{{selectedBook.name}}</td>
          <td class="table__body-data">{{selectedBook.contact}}</td>
          <td class="table__body-data">{{selectedBook.bookTakenIn }}</td>
          <td class="table__body-data">{{selectedBook.bookReturnDate }}</td>
          <td class="table__body-data">
          {{selectedBook.notReturned ? "Not Returned" : "Returned" }}
          </td>
         
          
        </tr>
      </tbody>
    </table>
  </article>
  
  <router-outlet></router-outlet>
  