<article class="table">
    <table cellspacing="0" cellpadding="0" class="table__wrapper">
      <thead class="table__head">
        <tr class="table__head-row">
          <td class="table__head-icons" colspan="10">
            <i
              id="add-info"
              class="fa-solid icons fa-plus"
              
              routerLink="create"
            ></i>
            <i id="add-info" class="fa-solid icons fa-trash"></i>
          </td>
        </tr>
  
        <tr class="table__head-row">
          <td class="table__head-data">Name</td>
          <td class="table__head-data">Contact</td>
          <td class="table__head-data">Book</td>
          <td class="table__head-data">Borrowed</td>
          <td class="table__head-data">Returned</td>
          <td class="table__head-data">Return Status</td>
          <td class="table__head-data">Accept</td>
          <td class="table__head-data">Reject</td>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr class="table__body-row" *ngFor="let userInfo of userInfoArr">
          <td class="table__body-data">{{ userInfo.name }}</td>
          <td class="table__body-data">
            {{ userInfo.contact }}
          </td>
          <td class="table__body-data">{{ userInfo.bookName }}</td>
          <td class="table__body-data">{{ userInfo.bookTakenIn }}</td>
          <td class="table__body-data">{{ userInfo.bookReturnDate }}</td>
          <td class="table__body-data">
            {{ userInfo.request ? "Accept" : "Reject" }}
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  
  <router-outlet></router-outlet>
  