<div class="dashboard-content__dashboard">
  <div class="card dashboard-content__info">
    <h3 class="dashboard-content__number" name="numberOfUsers">0</h3>
    <p class="dashboard-content__description">
      Users currently Registered in the system
    </p>
  </div>

  <div class="card dashboard-content__info">
    <h3 class="dashboard-content__number" name="numberOfBooks">0</h3>
    <p class="dashboard-content__description">
      Books currently Registered in the system
    </p>
  </div>

  <div class="card dashboard-content__info">
    <h3 class="dashboard-content__number">1</h3>
    <p class="dashboard-content__description">
      Number of Admin logged in the system
    </p>
  </div>
</div>
