<article class="table">
  <table cellspacing="0" cellpadding="0" class="table__wrapper">
    <thead class="table__head">
      <tr class="table__head-row">
        <td class="table__head-icons" colspan="10">
          <i
            id="add-info"
            class="fa-solid icons fa-plus"
            (click)="plusBtnHandler()"
            routerLink="create"
          ></i>
          <i id="add-info" class="fa-solid icons fa-trash"></i>
        </td>
      </tr>

      <tr class="table__head-row">
        <td class="table__head-data">Book</td>
        <td class="table__head-data">ISBN</td>
        <td class="table__head-data">Edit</td>
        <td class="table__head-data">Delete</td>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr class="table__body-row" *ngFor="let bookInfo of bookInfoArr">
        <td class="table__body-data">{{ bookInfo.bookName }} <a class="btn btn--primary" href="/book-details/{{bookInfo.id}}">View Book</a></td>
        <td class="table__body-data">{{ bookInfo.isbn }}</td>
        <td class="table__body-data">
          <i
            class="icons fa-solid fa-edit"
            name="editBtn"
            routerLink="edit"
            (click)="editBtnHandler(bookInfo)"
          ></i>
        </td>
        <td class="table__body-data">
          <i
            class="icons fa-solid fa-trash"
            name="trashBtn"
            (click)="deleteBook(bookInfo)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</article>

<router-outlet></router-outlet>
